extends layout

//- include new devices in the 'main-column' and 'scripts' blocks

block top
	.navbar
		.navbar-inner
			#user-id.brand

block left-column
	#serialtalk.well
		h5 Communicate over serial
		//form.form-inline
		.input-append
			input#serialtalk-text(type="text", placeholder="LLAP message")
			button#serialtalk-btn.btn Send
		p Last response:&nbsp;
			span#serialtalk-resp nothing yet

block main-column
	#devices
		//- INCLUDE sensors (the displayed blocks)
		include sensors/TM.jade


block right-column
	#logs.well
		h5 Latest Logs
			button.btn.btn-small#refresh-logs-btn Refresh
		div#logs-content

block footer
	p	<strong>Server info:</strong>&nbsp;
		| #{process.title}:[#{process.version}]
		| #{app_title}:[#{app_version}]
		| listening on serial port:[
		span#serial-port-elt
		|]


block scripts
	script(src='/js/index.js')
	script(src="/socket.io/socket.io.js")
	script(src='/js/socket_client.js')
	//- INCLUDE sensors (the code that updates the page with new data)
	script(src='/js/sensors/TM.js')
